#calculator{
  background-color: rgb(74, 79, 79);
  border-radius:15px;
  max-width: 500px;
  overflow: hidden;
  box-shadow: 0 0 200px black,0 0 200px black,0 0 200px black;
  border: 8px solid;
  border-image: linear-gradient(orange, red,black,rgb(14, 74, 137),white,yellow, lightgreen, green)1;
}

#display{
  width: 89%;
  padding: 20px;
  font-size: 5rem;
  text-align: left;
  background-color: hsl(0, 0%, 50%, 0.3);
  color: white;
  text-shadow:0 0 9px black;
}

#keys{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 25px;
}

body{
  background-image: url("log3.png");
  display: flex;
	justify-content: center;
	align-items: center;
  height: 100vh;
}

button{
  width: 100px;
  height: 100px;
  border-radius: 2pc;
  border: none;
  background-color: grey;
  color: white;
  text-shadow:0 0 7px black;
  font-size: 3rem ;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 0 2px black,0 0 4px black,0 0 12px black;
}

button:hover{
  background-color: rgb(94, 89, 89);
  /* background-image: radial-gradient(yellow,red, orange); */
}
button:active{
  background-color: rgb(94, 79, 79);
}

.oc{
  background-color: orange;
}
.oc:hover{
  background-color: rgb(235, 81, 25);
}
.oc:active{
  background-color: rgb(178, 78, 42);
}

input{
  box-shadow: 0 0 200px black,0 0 200px black,0 0 200px black;
  border: 7px solid;
  border-color:white;
  /* background-image: radial-gradient(yellow,red, orange); */

}
.l{
  width: 200%;
}